.input {
  height: 40px;
  width: 200px;
  background-color: #0ec99d85;
  border: none;
  border-radius: 10px 10px 10px 10px;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 10px;
  margin-left: 10px;
  outline: none;
  text-align: center;
}
.input:focus {
  background-color: rgb(187, 187, 187);
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
